<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header><h1>Automate</h1></header>

    {% for duty in duties %}
     <p>Duty {{ duty.identifier }} - {{ duty.description }}</p>
    {% endfor %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
    <form action="/add-duty" method="POST">
        <label for="identifier">Duty Number</label>
        <input type="text" id="identifier" name="identifier">

        <label for="description">Duty Description</label>
        <input type="text" id="description" name="description">

        <button type="submit">Add Duty</button>
    </form>

</body>
</html>